body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Todo-List {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Todo-List-Title {
  width: 100%;
  align-items: center;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

.Todo-List-Items {
  display: grid;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.todo-item p {
  margin: 0;
  flex: 1;
  text-align: center;
  color: #333;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item button {
  margin-right: 10px;
  background: none;
  border: none;
  color: #ff0000;
  font-weight: bold;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.Todo-List-Input {
  display: flex;
  flex-direction: row;
}

.Todo-List-Input input{
  margin-right: 10px;
}

.Todo-List-Input button{
  margin-left: 50px;  
}
